body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #ffffff;
  font-family: "Avenir", sans-serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  width: 20%;
  padding-top: 80px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  height: 100vh;
  font-weight: 700;
  font-size: 30px;
  color: white;
  background-color: #e79959;
  position: fixed;
}

.title {
  margin-top: 70px;
  font-size: 16px;
  font-weight: 300;
}

.App-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: #505050;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 100px 25px 100px;
  min-height: 700px;
  min-width: 700px;
  padding: 16px;
  border: solid 1px grey;
}

.Chart-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: black;
  padding: 0px;
  margin-top: 50px;
}

.Chart-desc {
  width: 500px;
  margin-top: -25px;
  text-align: center;
}

.Chart-row {
  display: inline-flex;
}

.Chart-item {
  padding: 32px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.postman {
  margin-top: 140px;
  height: 7%;
}

.visualizations {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
  margin-left: 28%;
}
